/*fuentes*/

*{
    margin: 0;
    padding: 0;
}



header{
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}

.navbar{
   
}

.navbar a{
    text-transform: uppercase;
    font-family: ;
    font-size: 10px;
    word-spacing: 20px;
    text-decoration: none;
    color: black;
}